@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    box-sizing: border-box;
}

:root{
    --red:hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange:hsl(34, 97%, 64%);
   --blue:hsl(212, 86%, 64%);
   --very-dark-blue:hsl(234, 12%, 34%);
   --grayish-blue:hsl(229, 6%, 66%);
   --very-light-gray:hsl(0, 0%, 98%);
   --poppins: 'Poppins', sans-serif;
}

body{
    position: absolute;
    height: 95vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: var(--very-light-gray);
    font-family: var(--poppins);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.header{
    width: 50%;
    margin-bottom: 50px;
}

.main{
    display: flex;
    justify-content: space-between;
}
.center{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: -5%;
}

.center > *{
    margin-top: 20px;
}

.left{
    margin-top: 50px;
    flex: 1;
    width: 50%;
    border-top: 3px solid var(--cyan);
    background-color: white;
    margin-right: 20px;
    padding: 10px;
    padding-left: 25px;
    height: 220px;
    border-radius: 5px;
    position: relative;
}
.right{
    margin-top: 50px;
    flex: 1;
    border-top: 3px solid var(--blue);
    background-color: white;
    margin-left: 20px;
    padding: 15px;
    height: 220px;
    border-radius: 5px;
    padding-left: 25px;
    position: relative;
}

.center-top{
    border-top: 3px solid var(--red);
    background-color: white;
    padding: 15px;
    height: 220px;
    border-radius: 5px;
    padding-left: 25px;
    position: relative;
}

.center-bottom{
    border-top: 3px solid var(--orange);
    background-color: white;
    padding: 15px;
    height: 220px;
    border-radius: 5px;
    padding-left: 25px;
    position: relative;

}
.header{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}
.header-title{
  font-size: 30px;
  margin: -35px;
}
.header-under-title{
    font-size: 30px;
}
.header-text{
    margin-top: -15px;
}

.super-icon{
   position: absolute;
   right: 10px;
   width: 50px;
   
}

.team-icon{
    position: absolute;
    right: 10px;
   width: 50px;
}
.karma-icon{
    position: absolute;
    right: 10px;
   width: 50px;
} 

.calc-icon{
    position: absolute;
    right: 10px;
   width: 50px;
}
@media only screen and (max-width: 600px){
    body{
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 20px;
    }
	.container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .header{
        width: 90%;
        margin-bottom: 50px;
    }
    .header{
        text-align: center;
        margin-top: 80px;
        margin-bottom: 30px;
    }
    .header-title{
      font-size: 20px;
      margin-bottom: -20px;
    }
    .header-under-title{
        font-size: 20px;
    }
    .header-text{
        font-size: 13px;
        margin-top: -5px;
        padding: 0px 25px;
    }
    
    .main{
        display: block;
    }
    .left{
        width: 100%;
        margin: 0px auto;
        height: 250px;
        flex: 1;
    }
    .center{
        flex: 2;
    }
    .right{
        width: 100%;
        margin: 15px auto;
        height: 250px;
        flex: 1;
    }
}